h1, h2, h3{
    font-family: 'Merriweather', serif;
}
p{
    font-family:'Mukta', sans-serif ;
    font-size: large;
}

.img-small{
    height:35px;
    width: 35px;
}

.pageTitle{
    background-color: rgb(180, 0, 0);
    margin: 0 auto;
    width: 100%;
    top:0;
    left:0;
    color: white;
    text-align: center;
}

.text-white{
    color:white;
}

.border-right{
    border-right: 1px white;
}

.background{
    background-color: whitesmoke;
    margin-top: 20px;
}

.card-background{
    background-color: rgb(180, 0, 0); 
    color: white;  
}