.body{
    background-color: rgb(56, 56, 255);
}
.section{
    background-color: aliceblue;
}
.main{
    background-color: rgb(0, 139, 0);
    width:80%;

}
.aside{
    background-color: rgb(180, 0, 0);
}