.body{
    background-color: rgb(56, 56, 255);
}
.section{
    background-color: aliceblue;
}
.main{
    background-color: rgb(2, 182, 2);
    width:20%;

}
.aside{
    background-color: rgb(180, 0, 0);
}